/*fonte importada do googlefonts*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Barlow:ital,wght@0,500;1,200&display=swap');

header {
    background-color: #0036357c;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0 0 15px;
    -webkit-background-size: cover;
    background: linear-gradient(#0036357c,#06537968);
       
}

body {
    background-color: #06537968;
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 0 0px 0;
    text-align: center;
    color: rgb(249, 245, 245);
    background-position: 30% 45%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
   }


h1 {
    text-align: center;
    font-size: 50px;
    color: #fefdfd;
    font-weight: bolder;
}

p {
    text-align: center;
    font-size: 30px;
    color: #fcf8f8;
    font-family: 'Alkatra', cursive;
}

.lembrete {
    font-style: italic;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
}

h2 {    
   font-size: 25px; 
   font-family: 'Barlow', sans-serif;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* altura do rodapé */
    background-color: #53BDE1;
    
}

.botaoCalcular {
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    border: none;

}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: larger;
    margin: 50px;
    text-align:end;
     
}

#areacalculo {
    display: flex;
    justify-content: space-between;
    margin: 0 120px ;
}

#areaInformeSalarios {
    display: flex;
    justify-content: space-between;
    margin: 45px 80px 45px 80px ;
    font-size: 18px;
}

.areaInformeSalarios {
    font-size: 25px;
    color: #ffffff;
}

.imagemRescisao {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}

.totalBruto {
    margin: 10px;
}

footer{
    
    background-color: #ffffff;
    margin: auto auto;  
    padding: 10px  500px;
    bottom: 0;
}

.paragraFooter {
    color: #000000;
    padding: 10px 0 0 0;
}

.paragrafoemail {
    color: #000000;
    padding: 10px 0 0 0;
    font-size: 15px;
}

.imagemrodape {
    max-width: 100%;
    width:100%;
}

.apresentacao__conteudo__texto {
    color: #000000;
    font-size:30px;
}

